// Variables globales

//Colores principales
$verde: #00a884;
$verdeBurbujaChat: #d9fdd3;
$blancoBurbujaChat: #fefefe;
$gris: #f0f2f5;
$grisClaro: #f5f5f5;
$fontColorblack: #3b4a54;
$fontcolorgray: #41525d;
$fontcolorChatGray: #b6b6b6;
$blanco: #ffffff;
$redError: #ff7070f7;
